<div fxLayout="column">
    <div fxLayout="row">
        <h2>Información adicional</h2>
    </div>
    <div fxLayout="row">
        <h3>Adjunte los recaudos de su expediente</h3>
    </div>
    <div fxLayout="row" fxLayoutAlign="start center">
        <button type="button" mat-raised-button color="primary" fxLayout="row" fxFlex="100"
            fxLayoutAlign="center center" 
            (click)="fileInput.click()"    
        >
            <mat-icon> attach_file</mat-icon>
            Adjuntar recaudos
        </button>
        <input hidden #fileInput multiple="true" type="file" id="file" (change)="onFileSelected($event)">
    </div>
    <br>
</div>