<div fxLayout="column">
    <div fxLayaout="row">
        <h2>Desglose del presupuesto</h2>
    </div>
    <div fxLayout="row">
        <form [formGroup]="form" fxFlex="100">
            <div fxLayout="row">
                <mat-form-field fxFlex="33" class="mr-1">
                    <mat-label>Total gastos de clínica</mat-label>
                    <input type="text" matInput formControlName="clinicExpenses" (keyup)="onkeyup()"  (keypress)="numberOnly($event, 'clinicExpenses')">
                    <mat-hint align="start"> <a  href="https://www.google.com/" target="_blank">Ver en presupuesto subtotal clínica</a></mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="33" class="mr-1">
                    <mat-label>Total gastos honorarios</mat-label>
                    <input type="text" matInput formControlName="honoraryExpenses"  (keyup)="onkeyup()"  (keypress)="numberOnly($event, 'honoraryExpenses')">
                    <mat-hint align="start"> <a  href="https://www.google.com/" target="_blank">Ver en presupuesto subtotal honorarios</a></mat-hint>
                </mat-form-field>
                <mat-form-field fxFlex="33" >
                    <mat-label>Total de gastos</mat-label>
                    <input type="text" matInput formControlName="totalExpenses">
                    <mat-hint>Sumatoria</mat-hint>
                </mat-form-field>
            </div>
        </form>
    </div>
    <div fxLayout="row">
        <button type="button" class="mr-1" mat-raised-button color="warn">Atras</button>
        <button type="button" class="mr-1" mat-raised-button color="primary" (click)="onSubmit()">Siguiente</button>
    </div>
</div>
