<div fxLayoutGap>
    <div fxLayout="column">
        <div fxLayout="row">
            <h2>Datos solicitante</h2>
        </div>
        <div fxLayout="row">
            <form [formGroup]="form" fxFlex="100">
                <div fxLayout="row">
                    <mat-form-field fxFlex="50" class="mr-1">
                        <mat-label>Cédula</mat-label>
                        <input type="text" matInput placeholder="Ingrese su cédula" formControlName="id"
                            (keyup)="onKeyUpTypeId($event)">
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="mr-1">
                        <mat-label>Nombre</mat-label>
                        <input type="text" matInput formControlName="name">
                        @if(form.controls['id'].getRawValue() === '') {
                            <mat-hint>Una vez ingresada una cédula, aparecera el nombre del titular.</mat-hint>
                        }
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field  fxFlex="50" class="mr-1"
                    >
                        <mat-label>Seleccione su póliza</mat-label>
                        <mat-select formControlName="policy" (selectionChange)="selectedPolicy($event)">
                            @if(policies.length > 0) {
                                @for (policy of policies; track policy) {
                                    <mat-option [value]="policy.split('-')[0]">{{policy}}</mat-option>
                                }
                            }
                        </mat-select>
                        @if(policies.length === 0 && form.controls['id'].getRawValue() === '') {
                            <mat-hint>Una vez ingresada una cédula, aparecerán las polizas vinculadas al titular</mat-hint>
                        }

                        @if(policies.length === 0 && form.controls['id'].getRawValue() !== '') {
                            <mat-hint>Usuario no tiene pólizas</mat-hint>
                        }
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="mr-1">
                        <mat-label>Elegir paciente</mat-label>
                        <mat-select>
                            @for (food of foods; track food) {
                            <mat-option [value]="food.value">{{food.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="50" class="mr-1">
                        <mat-label>Elegir enfermedad / Sintoma</mat-label>
                        <input type="text"  matInput (keyup)="onKeyUpIllness($event)"
                        [formControl]="suggestsIllness"
                        [matAutocomplete]="autoillness"
                        >
                       <mat-autocomplete #autoillness="matAutocomplete">
                            @for (illness of filteredIllness | async; track illness) {
                            <mat-option [value]="illness">{{ illness }}</mat-option>
                            }
                       </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field fxFlex="50" class="mr-1">
                        <mat-label>Nombre centro clinico</mat-label>
                        <input type="text" aria-label="Number" matInput 
                            [formControl]="suggests"
                            [matAutocomplete]="auto" >
                            <mat-autocomplete #auto="matAutocomplete">
                                @for (clinic of filteredOption | async; track clinic) {
                                <mat-option [value]="clinic">{{clinic}}</mat-option>
                                }
                            </mat-autocomplete>
    
                        <mat-hint>Al digitar el rif del centro clínico aparecerá el nombre acá de existir</mat-hint>
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    
                </div>
                
                <div fxLayout="row">
                    <mat-form-field fxFlex="33" class="mr-1">
                        <mat-label>Fecha de atención medica:</mat-label>
                        <input matInput [matDatepicker]="picker">
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                    <mat-form-field  fxFlex="33" class="mr-1" >
                        <mat-label>
                            Número del presupuesto
                        </mat-label>
                        <input type="text" matInput placeholder="Inserte número de presupuesto">
                    </mat-form-field>
                    <mat-form-field fxFlex="33" class="mr-1">
                        <mat-label>
                            Monto del presupuesto
                        </mat-label>
                        <input type="text" matInput placeholder="0000000">
                    </mat-form-field>
                </div>
                <div fxLayout="row">
                    <mat-form-field fxFlex="33" class="mr-1">
                        <mat-label>E-mail</mat-label>
                        <input type="text" matInput >
                    </mat-form-field>
                    <mat-form-field fxFlex="33" class="mr-1">
                        <mat-label>Código área</mat-label>
                        <mat-select>
                            @for (telefono of telefono; track telefono) {
                            <mat-option [value]="telefono.value">{{telefono.viewValue}}</mat-option>
                            }
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field fxFlex="33" class="inputAdicional mr-1" >
                        <mat-label>Número de celular</mat-label>
                        <input type="text" matInput >
                    </mat-form-field>
                </div>
                
            </form>
        </div>
    </div>
</div>