    <div fxLayout="column">
        <div fxLayout="row">
            <div>
                <h3>Datos Adicionales</h3>
            </div>
        </div>
        <div fxLayout="row" fxFlex="50"></div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <mat-form-field fxFlex="50" appearance="outline" class="inputAdicional">
                <mat-label>E-mail</mat-label>
                <input type="text" matInput formControlName="email">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex="50"></div>
    </div>
    <div fxLayout="column">
        <div fxLayout="row">
            <mat-form-field fxFlex="50" appearance="outline" class="inputAdicional">
                <mat-label>Número de telefono</mat-label>
                <input type="text" matInput formControlName="telefono">
            </mat-form-field>
        </div>
        <div fxLayout="row" fxFlex="50"></div>
    </div>
