<div>
    <div fxLayout="column" fxLayoutAlign="space-around start">
        <div>
            <h3>Datos Adicionales</h3>
        </div>
        <form >
            <mat-form-field appearance="outline" class="inputAdicional">
                <mat-label>E-mail</mat-label>
                <input type="text" matInput formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline" class="inputAdicional">
                <mat-label>Número de telefono</mat-label>
                <input type="text" matInput formControlName="telefono">
              </mat-form-field>

        </form>

    
    </div>

</div>
